{% extends 'base.html.twig' %}

{% block title %}Личный кабинет студента{% endblock %}

{% block body %}
<h2>Добро пожаловать, {{ app.user.email }}</h2>

<h3>Ваши дисциплины</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Дисциплины</th>
            <th>Оценка</th>
            <th>Учитель</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}
            <tr>
                <td>{{ grade.discipline.name }}</td>
                <td>{{ grade.score }}</td>
                <td>{{ grade.discipline.teacher.email }}</td>
                <td>
                    <!-- Кнопка для загрузки файла -->
                    <a href="{{ path('student_submit_file', { id: grade.discipline.id }) }}" class="btn btn-sm btn-primary">
                        Прикрепить файл
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Вы не зачислены ни на одну из дисциплин.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
