{% extends 'base.html.twig' %}

{% block title %}Изменить оценку{% endblock %}

{% block body %}
<h2>Изменение оценки for {{ student.email }} по {{ discipline.name }}</h2>

<a href="{{ path('teacher_discipline_details', { id: discipline.id }) }}" class="btn btn-secondary mb-3">Вернуться назад</a>

{{ form_start(form) }}
    {{ form_row(form.score) }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
{{ form_end(form) }}
{% endblock %}
