{% extends 'base.html.twig' %}

{% block title %}Редактирование пользователя{% endblock %}

{% block body %}
<h2>Редактирование пользователя</h2>

{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.password, 'Password') }}
        {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.roles, 'Roles') }}
        {{ form_widget(form.roles, { 'attr': {'class': 'form-select'} }) }}
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
{{ form_end(form) }}

<a href="{{ path('admin_users') }}" class="btn btn-secondary mt-3">Вернуться назад</a>
{% endblock %}
